<header class="flex justify-between items-center py-4 w-[1120px] mx-auto">
   <div class="relative w-30 h-30">
    <!-- Círculo Glow -->
    <div class="absolute inset-0 rounded-full border-1 border-red-200 shadow-[0_0_10px_4px_rgba(255,0,0,0.6)] animate-pulse"></div>

    <!-- Foto -->
    <img 
      class="rounded-full w-30 h-30 relative z-10"
      src="/img/FOTO.jpg" 
      alt="Logo" 
    />
  </div>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top" class="ml-4">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos" class="ml-4">Proyectos</a>
    <a href="#certificados">Certificados</a>
    <a href="#sobremi">Sobre mí</a>
    <a href="#contacto" class="ml-4">Contact</a>
  </nav>
</header>
